pkgbase = gwt
	pkgdesc = Read-only terminal inspector for git worktrees across multiple repositories
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/xiangnan0811/gwt
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	depends = git
	options = !debug
	source = gwt-0.3.0.tar.gz::https://github.com/xiangnan0811/gwt/archive/refs/tags/v0.3.0.tar.gz
	sha256sums = faa392d8fc36f401a3d3b18c5db0c692701a6cbc62631815ee8c4cbf8508a0c7

pkgname = gwt
