pkgbase = gwt
	pkgdesc = Read-only terminal inspector for git worktrees across multiple repositories
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/xiangnan0811/gwt
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	depends = git
	options = !debug
	source = gwt-0.3.0.tar.gz::https://github.com/xiangnan0811/gwt/archive/refs/tags/v0.3.0.tar.gz
	sha256sums = 213be0b9db54ee44547f85b11f67a2bd33264671b2a142cacd7348b5f9740df9

pkgname = gwt
